<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Henno</h1>
    <form action="results" method="post">    
        <label for="NameField">Name</label> 
        <input type="text" name="NameField"/> 
        <label for="LocationField">Dojo Location</label> 
        <select name="LocationField">
            <option>San Jose</option>
            <option>San Diego</option>
            <option>New York</option>
        </select>
        <label for="LanguageField">Favorite Language</label> 
        <select name="LanguageField">
            <option>C#</option>
            <option>Java</option>
            <option>Javascript</option>
        </select>
        <label for="TextField">Comment(optional)</label> 
         <textarea name="TextField" rows="4"/></textarea> 
        
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>

